* {
	margin: 0;
	padding: 0;
}

.bannertab{  
	background-image:url(../images/top.jpg);
	background-size: 80% 276%;
    background-position: 50% 40%;
    width:100%;
    height:20%;
    border:0;
}


ul,li {
	list-style: none;
}

a {
	text-decoration: none;
	
    color:black;
    font-size:15px
}

.nav {
	align:bottom;
	border-right: none;
	overflow: hidden;
	float:left;
	background-color:#ffffcc; 
	background-color: rgba(0,0,0,0.5);
	text-align:center;
	width:100%; 
	height:10%;	
    z-index: 999;
}

.nav ul{
	display:inline-block;
	/* background-color: rgba(0,0,0,0.5); */
	z-index: 999;
}
.nav li {
	float: left;
	/*  background-color: rgba(0,0,0,0.3);  */
	z-index: 999;
}

.nav ul li a {
	width: 110px;
	height: 20px;
	text-align: center;
	font-weight: bold;
	line-height: 20px;
	display: block;
	border-right: 1px solid #3399ff;
	/*  background-color: rgba(0,0,0,0.5);  */
	color: black;
	/* position:static; */
	padding-top:5px;
}

.nav ul li a:hover {
	
	 background-color: rgba(0,0,0,0.5); 
}

.nav ul li ul {
	position: absolute;
	display: none;
	text-align:center;
	/* background-color: rgba(0,0,0,0.5); */
}

.nav ul li ul li {
	float: none;
	text-align:center;
	/* background-color: rgba(0,0,0,0.5); */
}

.nav ul li ul li a {
	border-right: none;
	border-top: 1px dotted #ccc;
	/* background-color: rgba(0,0,0,0.5); */

}

.nav ul li:hover ul {
	display: block;
	background-color: rgba(0,0,0,0.5);
}

.bg {
	background-color: #B0E0E6;
	float:left;
	width:30%;  
	height:6%;
	font-size: 15px;
}

.emp{
	float:left ;  
	width:25%;  
	height:6%;
	background-color:#B0E0E6;
}

#showtimes{
	 padding-top:7px;
	 padding-left:20px;
}

.welcome{
	color:white;
}